:root {
  --color: green;
}

@font-face {
  font-family: "Poppins";
  src: url("/public/fonts/Poppins-Regular.ttf") format("ttf"),
    url("/public/fonts/Poppins-Medium.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
