:root {
  --primary-color: #9197b3;
  --background-hover-color: #5932ea;
  --text-hover-color: #fff;
}

/* @font-face {
  font-family: "PoppinsRegular";
  src: local("PoppinsRegular"),
    url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weigh: normal;
  src: local("PoppinsMedium"),
    url("./assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weigh: normal;
} */

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Medium.ttf");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Poppins", sans-serif;
}

.ant-menu > .ant-menu-item {
  font-size: 14px;
  color: #9197b3;
  font-family: "Poppins";
  letter-spacing: -0.14px;
}

.ant-menu > .ant-menu-submenu-vertical {
  width: 250px;
  color: var(--primary-color);
  font-family: "Poppins";
}

.ant-menu > .ant-menu-item:hover,
.ant-menu > .ant-menu-submenu:hover,
.ant-menu > .ant-menu-item-active,
.ant-menu > .ant-menu-submenu-active,
.ant-menu > .ant-menu-item-open,
.ant-menu > .ant-menu-submenu-open,
.ant-menu > .ant-menu-item-selected,
.ant-menu > .ant-menu-submenu-selected {
  color: var(--text-hover-color);
  background-color: var(--background-hover-color);
  stroke: var(--text-hover-color);
  fill: var(--text-hover-color);
  width: 250px;
}

.ant-table-row {
  .ant-table-cell {
    padding: 0px;
    font-family: "Poppins";
    color: #292d32;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.14px;
  }
}

.ant-table-thead > tr > th {
  color: #b5b7c0;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.14px;
}

@media (max-width: 500px) {
  .headerMenu {
    display: none;
    align-content: center;
    justify-content: center;
  }
}

@media (min-width: 500px) {
  .menuIcon {
    display: none;
  }
}
