:root {
  --color: green;
}

@font-face {
  font-family: "PoppinsRegular";
  src: local("PoppinsRegular"),
    url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weigh: normal;
  src: local("PoppinsMedium"),
    url("./assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weigh: normal;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 500px) {
  .headerMenu {
    display: none;
  }
}

@media (min-width: 500px) {
  .menuIcon {
    display: none;
  }
}
